# Notebook to process using Pandas
 * Read input files
 * Join both the input files by counter_party
 * Carry out aggregation by maximum of ratings
 * Carry out aggregation by sum of values
 * Split the dataframe based on status
 * Finally merge all the aggregated dataframes to generate the report.

In [53]:
import pandas as pd
import numpy as np
from functools import reduce
from IPython.display import HTML

In [54]:
ds1 = pd.read_csv('input/dataset1.csv')

In [55]:
def display_df_head(df):
    return HTML(df.head().to_html(index=False))

In [56]:
display_df_head(ds1)

In [57]:
ds2 = pd.read_csv('input/dataset2.csv')

In [58]:
merged_df = pd.merge(ds1,ds2, on = ['counter_party'])

In [59]:
display_df_head(merged_df)

In [60]:
columns_to_group = ['legal_entity', 'counter_party', 'tier']
columns_to_group_with_sum_values = columns_to_group + ['sum_values']
columns_to_group_with_status = columns_to_group + ['status']

In [61]:
df_max_rating = merged_df.groupby(columns_to_group, as_index=False).agg(max_rating=('rating','max'))

In [62]:
display_df_head(df_max_rating)

In [63]:
df_unique_record_counts = merged_df.groupby(columns_to_group, as_index=False).agg(unique_record_counts=('rating','count'))

In [64]:
display_df_head(df_unique_record_counts)

In [65]:
df_sum_values = merged_df.groupby(columns_to_group_with_status, as_index=False).agg(sum_values = ('value','sum'))

In [66]:
display_df_head(df_sum_values)

In [67]:
df_sum_values_ARAP = df_sum_values[(df_sum_values['status'] == 'ARAP')][columns_to_group_with_sum_values]
df_sum_values_ARAP = df_sum_values_ARAP.rename(columns={'sum_values': 'sum(values where status=ARAP)'})

In [68]:
display_df_head(df_sum_values_ARAP)

In [69]:
df_sum_values_ACCR = df_sum_values[(df_sum_values['status'] == 'ACCR')][columns_to_group_with_sum_values]
df_sum_values_ACCR = df_sum_values_ACCR.rename(columns={'sum_values': 'sum(values where status=ACCR)'})

In [70]:
display_df_head(df_sum_values_ACCR)

In [71]:
consolidated_df_list = [df_max_rating,df_unique_record_counts,df_sum_values_ARAP,df_sum_values_ACCR]

In [72]:
df_report = reduce(lambda left, right: pd.merge(left, right,
                                                on=columns_to_group, how='outer'), consolidated_df_list).fillna(0)

In [73]:
display_df_head(df_report)

In [74]:
df_report.to_csv('output/report_pandas.csv')